html
	head
		title EDIT INFO
		link(rel='stylesheet' href='/css/stylesheet.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')

		script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

		script(src='/js/myJs.js')

	body
		div.breadcrumb
			li Home
			li.active Dashboard
		.container
			.col-lg-3
				if noUser
					p No user with URL found.. #{url}. MAKE ONE NAO!! ...

				//EDIT USER DETAILS
				table
					thead
						tr
							th(data-toggle='collapse', href='#details', aria-controls='details') Edit User Details
							th(data-toggle='collapse', href='#details', aria-controls='details') 
								.pull-right
									span.glyphicon.glyphicon-triangle-bottom
					tbody.collapse(id='details')
						form(id='userEditForm' method='GET' action='/users/edit/' + url)
							tr.form-group
								td.title
									label(for='name') Name
								td
									input#name.form-control(type='text', value=name, name='name')
							tr.form-group
								td.title
									label(for='email') Email
								td
									input#email.form-control(type='email', value=email, name='email')
							tr.form-group
								td.title
									label(for='sex') Sex
								td
									input#sex.form-control(type='sex', value=sex, name='sex')
							tr.form-group
								td.title
									label(for='city') City
								td
									input#city.form-control(type='city', value=city, name='city')
							tr.form-group
								td.title
									label(for='state') State
								td
									input#state.form-control(type='state', value=state, name='state')
							th About Me
							th
							tr.form-group
								td.title
									label(for='about') About Me
								td
									input#about.form-control(type='text', value=about, name='about')
							tr.form-group
								td.title
									label(for='meet') Who I'd Like to Meet
								td
									input#meet.form-control(type='text', value=meet, 	me='meet')
							th Interests
							th
							tr.form-group
								td.title
									label(for='general') General
								td
									input#general.form-control(type='text', value=general, name='general')
							tr.form-group
								td.title
									label(for='music') Music
								td
									input#music.form-control(type='text', value=music, name='music')
							tr.form-group
								td.title
									label(for='movies') Movies
								td
									input#movies.form-control(type='text', value=movies, name='movies')
							tr.form-group
								td.title
									label(for='television') Television
								td
									input#television.form-control(type='text', value=television, name='television')
							tr.form-group
								td.title
									label(for='books') Books
								td
									input#books.form-control(type='text', value=books, name='books')
							tr.form-group
								td.title
									label(for='heroes') Heroes
								td
									input#heroes.form-control(type='text', value=heroes, name='heroes')
							th Details
							th
							tr.form-group
								td.title
									label(for='status') Status
								td
									input#status.form-control(type='text', value=status, name='status')
							tr.form-group
								td.title
									label(for='hereFor') Here For
								td
									input#hereFor.form-control(type='text', value=hereFor, name='hereFor')
							tr.form-group
								td.title
									label(for='hometown') Hometown
								td
									input#hometown.form-control(type='text', value=hometown, name='hometown')
							tr.form-group
								td.title
									label(for='bodyType') Body Type
								td
									input#bodyType.form-control(type='text', value=bodyType, name='bodyType')
							tr.form-group
								td.title
									label(for='ethnicity') Ethnicity
								td
									input#ethnicity.form-control(type='text', value=ethnicity, name='ethnicity')
							tr.form-group
								td.title
									label(for='sign') Sign
								td
									input#sign.form-control(type='text', value=sign, name='sign')
							tr.form-group
								td.title
									label(for='smoke') Smoke / Drink
								td
									input#smoke.form-control(type='text', value=smoke, name='smoke')
									input#drink.form-control(type='text', value=drink, name='drink')
							tr.form-group
								td.title
									label(for='education') Education
								td
									input#education.form-control(type='text', value=education, name='education')
							tr.form-group
								td.title
									label(for='occupation') Occupation
								td
									input#occupation.form-control(type='text', value=occupation, name='occupation')
							tr
								td
									input(type='hidden', name='form_type', value='user')
								td
									center
										button.btn(type='submit') Submit Edits

				//ADD SCHOOL
				table
					thead
						th(data-toggle='collapse', href='#addSchool', aria-controls='addSchool') Add School
						th(data-toggle='collapse', href='#addSchool', aria-controls='addSchool')
							.pull-right
								span.glyphicon.glyphicon-triangle-bottom
					tbody.collapse(id='addSchool')
						form(id='addSchoolForm' method='GET' action='/users/edit/' + url)
							tr.form-group
								td.title
									label(for='schoolName') School Name
								td
									input#schoolName.form-control(type='text', name='schoolName')
							tr.form-group
								td.title
									label(for='city') City
								td
									input#city.form-control(type='text', name='city')
							tr.form-group
								td.title
									label(for='state') State
								td
									input#state.form-control(type='text', name='state')
							tr.form-group
								td.title
									label(for='schoolUrl') School URL
								td
									input#schoolUrl.form-control(type='text', name='schoolUrl')
							tr.form-group
								td.title
									label(for='gradYear') Graduation Year ('YYYY')
								td
									input#gradYear.form-control(type='text', name='gradYear')
							tr.form-group
								td.title
									label(for='studentStatus') Student Status
								td
									input#studentStatus.form-control(type='text', name='studentStatus')
							tr.form-group
								td.title
									label(for='degree') Degree
								td
									input#degree.form-control(type='text', name='degree')
							tr.form-group
								td.title
									label(for='major') Major
								td
									input#major.form-control(type='text', name='major')
							tr.form-group
								td.title
									label(for='yearStarted') Year Started ('YYYY-MM-DD')
								td
									input#yearStarted.form-control(type='text', name='yearStarted')
							tr.form-group
								td.title
									label(for='yearFinished') Year Finished ('YYYY-MM-DD')
								td
									input#yearFinished.form-control(type='text', name='yearFinished')
							tr
								td.title
									input(type='hidden', name='form_type', value='school')
								td.title
									center
										button.btn(type='submit') Add Entry

				//ALL SCHOOLS
				table
					thead
						tr
							th(data-toggle='collapse', href='#schools', aria-controls='schools') Schools
							th(data-toggle='collapse', href='#schools', aria-controls='schools')
							th(data-toggle='collapse', href='#schools', aria-controls='schools')
								.pull-right
									span.glyphicon.glyphicon-triangle-bottom
					tbody.collapsed(id='schools')
						form(id='deleteSchoolForm' method='GET' action='/users/edit/' + url)
							for school in schools
								tr
									td.extra.form-group
											a(href=school.schoolUrl) #{school.schoolName} 
											br
											| #{school.city}, #{school.state}
											br
											| Grad Year: #{school.gradYear} 
											br
											| Student Status:#{school.studentStatus}
											br
											| Degree: #{school.degree}
											br
											| Major: #{school.major}
									td 
										center
											| From #{school.yearStarted}
											br
											| to
											br
											|#{school.yearFinished}
									td.title
										input(type='checkbox')
										input(type='hidden', name='school_id', value=school.id)
							tr
								td 
									input(type='hidden', name='form_type', value='deleteSchoolForm')
								td
									.pull-right
										button.btn(type='submit') Delete Entries
								td

				//ADD SHOW
				table
					thead
						th(data-toggle='collapse', href='#addShow', aria-controls='addShow') Add Show
						th(data-toggle='collapse', href='#addShow', aria-controls='addShow')
							.pull-right
								span.glyphicon.glyphicon-triangle-bottom
					tbody.collapse(id='addShow')
						form(id='addSchoolForm' method='GET' action='/users/edit/' + url)
							tr.form-group
								td.title
									label(for='title') Show Title
								td
									input#title.form-control(type='text', name='title')
							tr.form-group
								td.title
									label(for='venueName') Venue Name
								td
									input#venueName.form-control(type='text', name='venueName')
							tr.form-group
								td.title
									label(for='venueLink') Link to Venue
								td
									input#venueLink.form-control(type='text', name='venueLink')
							tr.form-group
								td.title
									label(for='location') City, ST
								td
									input#location.form-control(type='text', name='location')
							tr.form-group
								td.title
									label(for='showType') Show Type 
									br
									| (group show, solo show, etc)
								td
									input#showType.form-control(type='text', name='showType')
							tr.form-group
								td.title
									label(for='showDate') Date Shown (YYYY/MM/DD)
								td
									input#showDate.form-control(type='text', name='showDate')
							tr
								td.title
									input(type='hidden', name='form_type', value='show')
								td.title
									center
										button.btn(type='submit') Add Entry

				//ALL SHOWS
				table
					thead
						tr
							th(data-toggle='collapse', href='#shows', aria-controls='shows') Shows
							th(data-toggle='collapse', href='#shows', aria-controls='shows')
							th(data-toggle='collapse', href='#shows', aria-controls='shows')
								.pull-right
									span.glyphicon.glyphicon-triangle-bottom
					tbody.collapse(id='shows')
						for show in shows
							tr
								td.extra
									| #{show.title} 
									br
									a(href=show.venueLink) #{show.venueName}
									br
									| #{show.location}
									br
									| #{show.showType}
								td 
									center
										| #{show.showDate}
									td.title
										input(type='checkbox')
										input(type='hidden', name='show_id', value=show.id)
						tr
							td 
								input(type='hidden', name='form_type', value='deleteShowForm')
							td
								.pull-right
									button.btn(type='submit') Delete Entries
							td

				//ADD PRINT
				table
					thead
						th(data-toggle='collapse', href='#addPrint', aria-controls='addPrint') Add Print
						th(data-toggle='collapse', href='#addPrint', aria-controls='addPrint')
							.pull-right
								span.glyphicon.glyphicon-triangle-bottom
					tbody.collapse(id='addPrint')
						form(id='addPrintForm' method='GET' action='/users/edit/' + url)
							tr.form-group
								td.title
									label(for='seriesName') Series Title
								td
									input#seriesName.form-control(type='text', name='seriesName')
							tr.form-group
								td.title
									label(for='printName') Publication Name
								td
									input#printName.form-control(type='text', name='printName')
							tr.form-group
								td.title
									label(for='printUrl') Link to Publication
								td
									input#printUrl.form-control(type='text', name='printUrl')
							tr.form-group
								td.title
									label(for='location') City, ST
								td
									input#location.form-control(type='text', name='location')
							tr.form-group
								td.title
									label(for='printType') Print Type 
									br
									| (cover, editorial, etc)
								td
									input#printType.form-control(type='text', name='printType')
							tr.form-group
								td.title
									label(for='printDate') Date Printed (YYYY/MM/DD)
								td
									input#printDate.form-control(type='text', name='printDate')
							tr
								td.title
									input(type='hidden', name='form_type', value='print')
								td.title
									center
										button.btn(type='submit') Add Entry
										
					//ALL PRINTS
					table
						thead
							tr
								th(data-toggle='collapse', href='#prints', aria-controls='prints') In Print
								th(data-toggle='collapse', href='#prints', aria-controls='prints')
								th(data-toggle='collapse', href='#prints', aria-controls='prints')
									.pull-right
										span.glyphicon.glyphicon-triangle-bottom
						tbody.collapsed(id='prints')
							for print in prints
								tr
									td.extra
										| #{print.seriesName} 
										br
										a(href=print.printUrl) #{print.printName}
										br
										| #{print.location}
										br
										| #{print.printType}
									td 
										center
											| #{print.printDate}
										td.title
											input(type='checkbox')
											input(type='hidden', name='school_id', value=print.id)
							tr
								td 
									input(type='hidden', name='form_type', value='deletePrintForm')
								td
									.pull-right
										button.btn(type='submit') Delete Entries
								td

//
		//	.col-md-6
		//		table
		//			thead
		//				th
		//				th
		//			tbody
		//				form(id='editForm' method='GET' action='/users/edit/:url')
		//					th New Post
		//					th
		//					tr.form-group
		//						td.title
		//							label(for='name') Name
		//						td
		//							input#name.form-control(type='text', value=name, name='name')
//
		//	.col-md-3
		//		table
		//			thead
		//				th
		//				th
		//			tbody//